In [1]:
import pandas as pd
import numpy as np
from typing import List, Dict

data = pd.read_csv("../data/base_datos.csv")
data  = data.loc[:, ["Año", "Temperatura max med","Temperatura min med", "Temperatura med", "Provincias"]]

data

,Año,Temperatura max med,Temperatura min med,Temperatura med,Provincias
0,1990,27.9,20.6,23.7,Pinar del Río
1,1990,28.0,21.2,24.2,Pinar del Río
2,1990,28.1,21.1,24.2,Pinar del Río
3,1990,29.5,22.0,25.3,Pinar del Río
4,1990,30.4,24.0,26.8,Pinar del Río
...,...,...,...,...,...
10291,2022,32.9,23.9,27.8,La Habana
10292,2022,31.4,23.6,26.8,La Habana
10293,2022,29.8,22.6,25.8,La Habana
10294,2022,29.8,23.0,25.8,La Habana
10295,2022,27.8,20.5,23.6,La Habana